{% extends "base.html" %} 
{% load static %} 

{% block page_header %} 
    <div class="container header-container">
        <div class="row">
          <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %} 
<div class="container h-100">
<div class="row h-100">
  <div class="col-7 col-md-6 my-auto">
    <h1 class="display-4 logo-font text-black">
      Shop & Gym &nbsp;<i class="fas fa-dumbbell"></i></h1>
    <!-- <img src="/media/workout_txt.png" class="img-fluid" alt="Responsive image"> -->
    <div class="my-5">
      <h4>
      <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
     </h4>
     <!-- <img src="/media/workout_txt.png" class="img-fluid" alt="Responsive image"> -->
    </div>
  </div>
  </div>
</div>
   
     <footer class="bg-black text-center text-white footer fixed-bottom">
          <!-- Grid container -->
          <div class="container" style="padding-top: 5px;">
               <!-- <p>GymGeeks &nbsp;<i class="fas fa-dumbbell"></i></p> -->
            <!-- Section: Social media -->
            
              <!-- Facebook -->
              <a class="btn btn-outline-light btn-floating m-1 btn-sm" href="https://www.facebook.com/" target="_blank" role="button"
                ><i class="fab fa-facebook-f"></i
              ></a>
        
              <!-- Twitter -->
              <a class="btn btn-outline-light btn-floating m-1 btn-sm" href="https://twitter.com/" target="_blank" role="button"
                ><i class="fab fa-twitter"></i
              ></a>
        
              <!-- Instagram -->
              <a class="btn btn-outline-light btn-floating m-1 btn-sm" href="https://www.instagram.com/" target="_blank" role="button"
                ><i class="fab fa-instagram"></i
              ></a>
              
              <p>Keep up to date with all our latest offers</p>
              <a href="#" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
          </div>
        </footer>
{% endblock %}